.screenShareContainer {
  position: relative;
  flex: 1;
  max-width: 40%; /* Adjust width to fit your layout */
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.screenShareOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.activePlayerContainer {
  @apply absolute w-9/12 left-0 right-0 mx-auto;
  top: 20px;
  bottom: 50px;
  height: calc(100vh - 20px - 100px);
  border-radius: 10px;
}

.inActivePlayerContainer {
  @apply absolute flex flex-col overflow-y-auto;
  width: 200px;
  height: calc(10vh - 20px);
  right: 20px;
  top: 20px;
}

@media (max-width: 1200px) {
  .activePlayerContainer {
    height: calc(100vh - 40px);
  }

  .inActivePlayerContainer {
    width: 180px;
  }
}

@media (max-width: 992px) {
  .activePlayerContainer {
    height: calc(100vh - 60px);
  }

  .inActivePlayerContainer {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .activePlayerContainer {
    height: calc(100vh - 80px);
  }

  .inActivePlayerContainer {
    width: 140px;
  }
}

@media (max-width: 576px) {
  .activePlayerContainer {
    height: calc(100vh - 100px);
  }

  .inActivePlayerContainer {
    width: 120px;
  }
}

@media (max-width: 360px) {
  .activePlayerContainer {
    height: calc(100vh - 120px);
  }

  .inActivePlayerContainer {
    width: 100px;
  }
}
