.menu-item {
    padding: 6px 12px;
    transition: all 0.3s ease;
    font-size: large;
  }
  
  .menu-item:hover {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1); /* Change this to the desired hover background color */
    color: var(--color-primary-main); /* Adjust the color as needed */
    transform: scale(1.05); /* Slightly scale up the item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
  }
  
  .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255);
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-item {
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: #000;
  }
  
  .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Change this to the desired hover background color */
  }
  