.copyContainer {
  @apply text-white border border-white rounded p-2;
  position: absolute;
  left: 30px;
  bottom: 100px;
}

hr {
  @apply my-1;
}

.copyHeading {
  @apply text-base;
}

.copyDescription {
  @apply flex items-center text-sm;
}
